body {
	background-image: url("http://static.simpledesktops.com/desktops/2012/09/28/gingham_red.png");
	background-color: #DD4141;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	color: white;
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
	background-color: rgba(20,20,20,.3); /*Here's your transparent bar. Place navigation etc. in here.*/
}
#blocker {
	position: fixed;
	top: 0;
	left: 20%;
	width: 60%; /*Same width as content*/
	height: 40px; /*Same height as header*/
	background-color: #DD4141;
}
#content {
	width: 60%;
	min-height: 9001px; /* Over 9000 */
	background-color: #FDF6D5;
	margin: 0 auto;
	margin-top: 40px;
}